  <hr>  
<!-- Pills navs -->
<div id="alert" class="container alert alert-primary d-flex justify-content-center" style="width: 300px; role="alert">
  Have an account? Log In.
</div> 
<div class="container d-flex justify-content-center">
  <form action="/account/login" id="form" method="post">
    <div class="text-danger" asp-validation-summary="All"></div>
    @if (TempData["msg"]!=null){
      var message = TempData.Get<TempDataModel>("msg");
      <div class="alert alert-@message.ClassAtr" role="alert">
        @message.Message
      </div>
    }
    @if (TempData["token"] != null){<div class="d-flex align-items-center justify-content-center"><a href='@TempData["token"]' class="">Confirm</a></div>}
    <div class="mb-3" style="width: 300px; ">
      <label class="form-label">Username</label>
      <input data-val="true" data-val-required="Please Fill The Username" name="UserName" class="form-control">
      @* <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> *@
    </div>
    <div class="mb-3" style="width: 300px;">
      <label class="form-label">Password</label>
      <input data-val="true" data-val-required="Please Provide a Password" name="password" class="form-control">
    </div>
    <div class="mb-3 form-check">
      <input  type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button id="control" type="submit" class="btn btn-primary">Login</button>
    <span>Or <a href="#" id="register">Register</a></span>
    @Html.AntiForgeryToken()  @* CSRF Attack Safety*@

</form>
</div>