.accordion-button
        {
            width: 85%;
        }
        .accordion-header
        {
            display: flex;
            align-items: center;
        }
        .icons
        {
           
            width: 140px;
            height: 52px;
            align-items: center;
            justify-content: center;
           
            
        }

        .bordered
        {
            border-bottom: 1px solid #DEE2E6;
        }

        .icons i {
         
            color: gray;
            font-size: 30px;
            margin-top: 10px;
            
        }

        .icons a {
            width: 30px;
            margin-left: 10px;
        }


        body{
            background-color: beige;
            
        }

        a {
            text-decoration: none;
            
        }

        .fa-check
        {
            color: green !important;
        }

        .done 
        {
            text-decoration: line-through;
        }

        .fa-rotate-left
        {
            color: red !important;
        }