.accordion-button
        {
            width: 85%;
        }
        .accordion-header
        {
            display: flex;
            align-items: center;
        }
        .icons
        {
            margin-left: 15px;
            width: 140px;
        }

        .icons i {
            margin-left: 4px;
            color: gray;
            font-size: 30px;
        }

        .icons a {
            width: 30px;
        }


        body{
            background-color: beige;
            
        }

        a {
            text-decoration: none;
            
        }

        .fa-check
        {
            color: green !important;
        }

        .done 
        {
            text-decoration: line-through;
        }

        .fa-rotate-left
        {
            color: red !important;
        }